.nav a{
    color: white;
}
.home {
   display: flex;
    background-color:teal;
   justify-content: space-between;
   padding: 0px 10px 0px 1000px;
}
.home>p{
    font-size:x-large; 
}
a:link{
 text-decoration: none;
 color: white;
}
ul{
    list-style-type: none;
}
.image{
   display: flex;
   justify-content: space-between;
   padding: 20px 0px 20px 20px;
   background-color: rgb(144, 153, 153);
   position: static;
}
.img{
    padding: 20px 0px 20px 20px;
    /* margin-left: 200px; */
}
h1{
    color: blueviolet;
}
.myProjects{
    display: flex;
}
.scholarship-hub{
    border-radius: 10px;
    border: 0.1px solid black;
    padding: 20px;
    margin: 20px;
    background-color: black;
    opacity: 0.8;
    color: whitesmoke;
}
.scholarship-hub a{
    color: white;
    border-radius: 10px;
    margin-left: 270px;
    padding: 10px;
    background-color:green;
    
}
.scholarship-hub a:hover{
    background-color: red;
}
.Anitas-Kitchen{
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: black;
    opacity: 0.8;
    color: whitesmoke;
}
.Anitas-Kitchen a{
    color: white;
    border-radius: 10px;
    margin-left: 270px;
    padding: 10px;
    background-color:green;
    
}
.Anitas-Kitchen a:hover{
    background-color: red;
}
.contactUs{
    display: flex;
    margin: 20px;
}
.subscribe{
  
    margin-left: 330px;
    justify-content: space-around;  
}


.footer{
    background-color: teal;
    height: 280px;
   
   
}
.Follow-us{
    margin-left: 480px;
}
.Follow-us li{
    justify-content: space-between;
    
}
.Follow-us img{
    width: 20px;
    height: 20px;
}
#icon{
    padding-left: 10px;
    color: black;
}