.nav a{
    color: white;
}
.home {
   display: flex;
    background-color:teal;
   justify-content: space-between;
   padding: 0px 10px 0px 1000px;
}
.home>p{
    font-size:x-large; 
}
a:link{
 text-decoration: none;
 color: white;
}
ul{
    list-style-type: none;
}
.image{
   display: flex;
   justify-content: space-between;
   padding: 20px 0px 20px 20px;
   background-color: rgb(144, 153, 153);
   position: static;
}
.img{
    padding: 20px 0px 20px 20px;
    /* margin-left: 200px; */
}
h1{
    color: blueviolet;
}
.myProjects{
    display: flex;
   
}
.scholarship-hub{
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px;
}
.Anitas-Kitchen{
    border-radius: 10px;
    border: 0.1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px;
}
.contactUs{
    /* display: flex; */
    /* padding: 20px 150px 30px 20px; */
}
.footer{
    background-color: teal;
   
   
}
.Follow-us img{
    width: 20px;
    height: 20px;
}
#icon{
    padding-left: 10px;
    color: black;
}